* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    font-size: 10px !important;
}
body {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.6rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    background-color: cornsilk !important;
}
#page-container {
  position: relative;
  min-height: 100vh;
}
#content-wrap {
  padding-bottom: 20.6rem;    /* Footer height */
}
/*navigator menu*/
nav {
    width: 100%;
    font-family: 'Titillium Web',sans-serif;
    background-color: #502419;
    color: #fff;
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
}
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.clear-div::after{
    content: "";
    display: block;
    clear: both;
}
#logo-container {
    float: left;
    padding-top: 1.1rem;
}

.dropdown-button {
    float: left;
    overflow: hidden;
  }

  .dropdown-button .dropdown-item {
    border: none;
    outline: none;
    color: white;
    font-size: 2.4rem;
    padding: 1.1rem;
    letter-spacing: .1rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0; 
  }

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #8C3F2C;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #7EA172;
  }
  
  .dropdown-item:hover, .dropdown-button:hover .dropdown-content {
    color: #C7CB85;
    display: block;
  }

#logo-container .logo {
    color: #fff;
    font-size: 2.8rem;
    font-weight: 700;
}
a {
    text-decoration: none !important;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: 'Titillium Web',sans-serif;
}

#top-nav-menu {
    float: right;
}
#top-nav-menu ul{
    list-style-type: none;
}
#top-nav-menu .top-nav-item{
    float: left;
    margin: .4rem;
}
#top-nav-menu .top-nav-item a{
    color: #fff;
    font-size: 2.4rem;
    padding: 1.1rem;
    display: block;
    letter-spacing: .1rem;
    transition: color .3s;
}
#top-nav-menu .top-nav-item a:hover {
    color: #C7CB85;
}
/*header*/
header {
    background-color:  #EBBE9B;
    height: 1000px;
    padding-top: calc(114px + 4rem);
    padding-bottom: 114px;
    text-align: center;
}
header h1 {
    color: #fff;
    font-size: 5.6rem;
}
.fluid-image {
    max-width: 100%;
    width: 50%;
    height: auto;
}
/*catalog*/
 #catalog {
     text-align: center;
     padding-top: 6rem;
     padding-bottom: 12rem;
     background-color: #E7A977;
 }
 #catalog h2 {
     font-size: 4.8rem;
     color: #502419;
 }
.slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
.slides::-webkit-scrollbar-thumb {
  background: #502419;
  border-radius: 12px;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 600px;
  height: 400px;
  margin-right: 50px;
  border-radius: 10px;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.slides img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*footer*/
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20.6rem;
  padding-bottom: 6rem;
  padding-top: 6rem;
  background-color: #502419;
  color: #fff;
  text-align: center;
}
footer h4 {
    font-size: 2.4rem;
}
.col {
	float: left;
	width: 100%;	
	padding: 1rem;
}
footer li {
	display: inline-block;
	margin-right: 1rem;
}
/*login page*/
.login-box {
    width: 40rem;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #502419;
    text-align: center;
    margin-top:3rem;
}
.login-box h1{
    color: #C7CB85;
    font-family: 'Titillium Web',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
  }
  .login-box input[type = "text"],.login-box input[type = "password"]{
    border:0;
    background: none;
    display: block;
    margin: 5px auto;
    text-align: center;
    border: 2px solid #EBBE9B;
    padding: 1.4rem 1rem;
    width: 20rem;
    outline: none;
    color: #C7CB85;
    border-radius: 24px;
    transition: 0.25s;
  }
  .login-box input[type = "submit"],.left-panel input[type = "submit"]{
    border:0;
    background: none;
    display: block;
    margin: 20px auto;
    font-family: 'Poppins',sans-serif;
    font-weight: 400;
    text-align: center;
    border: 2px solid #EBBE9B;
    padding: 1.4rem 4rem;
    outline: none;
    color: #C7CB85;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
  }
  .login-box input[type = "submit"]:hover,.left-panel input[type = "submit"]:hover{
    background: #E7A977;
    color:#502419 !important;
  }
  .login-box input[type = "text"]:focus,.login-box input[type = "password"]:focus{
    width: 25rem;
    border-color: #7EA172;
  }
  /*left panel*/
.space {
    height: 2rem;
}
.left-panel {
    float: left !important;
    width: 30% !important;
    border: .4rem solid #502419 !important;
    height: 50rem !important;
    border-radius: 5% !important;
}
.left-panel img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-panel p{
    margin-left: 4rem !important;
}
.left-panel span {
    color: #7EA172 !important;
    font-family: 'Titillium Web',sans-serif !important;
    font-weight: 400 !important;
}
.left-panel h3 {
    color: #7EA172 !important;
    font-family: 'Titillium Web', sans-serif !important;
    text-align: center !important;
    margin: .4rem !important;
    font-size: 2.4rem !important;
}
.left-panel .left-subtitle {
  font-size: 1.48rem !important;
}
.left-panel .left-title {
  font-size: 1.6rem !important;
}
.left-panel a:active p{
  color: rgb(126, 113, 113) !important;
}
.left-panel a:visited .left-subtitle{
  color: rgb(126, 190, 126) !important;
}
.left-panel a:visited .left-title{
  color: rgb(63, 133, 63) !important;
  font-weight: 400 !important;
}
.left-panel a:link .left-subtitle{
  color: rgb(156, 100, 100) !important;
}
.left-panel a:link .left-title{
  color: rgb(126, 6, 6) !important;
}
.left-panel a:hover .left-subtitle{
  color: rgb(113, 113, 201) !important;
}
.left-panel a:hover .left-title{
  color: rgb(35, 35, 94) !important;
}

.left-panel ul {
  padding-left: .4rem !important;
  list-style-type: none !important;
}
.left-panel li {
  margin-top: .8rem !important;
}
.main-panel {
    float: right;
    width: 55%;
}
/*contact*/
.main-panel#contact-main {
  float: right;
  width: 55%;
}
.left-panel#contact-left {
  float: left;
  width: 26%;
}
.main-panel textarea {
  width: 50%;
  padding: 12px;
  border: .3rem solid #7EA172;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #502419;
  border-radius: 2%;
}
.main-panel textarea#message {
  height: 20rem;
}
.main-panel textarea#topic {
  height: 5rem;
}
.main-panel textarea:hover {
  border: .4rem solid #502419;
}
.main-panel input[type=submit] {
  color: white;
  background-color: #6da15c;
  padding: 1rem 2rem;
  cursor: pointer;
  border: #502419;
  border-radius: 4%;
}
.main-panel input[type=submit]:hover {
  background-color: #34a73a;
}
/*Documents*/
#due-table {
  letter-spacing: .1rem;
  border-collapse: collapse;
  width: 100%;
}

#due-table td, #due-table th {
  border: 0.1rem solid #E7A977;
  padding: 0.8rem;
}

#due-table tr:nth-child(even){
  background-color: #9AB691;
}

#due-table tr:hover {
  background-color: #B5BD61;
}

#due-table th {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  text-align: left;
  background-color: #373918;
  color: white;
}
/*management*/
.management-member img{
  width: 100px;
  height: 110px;
}

.management ul {
  list-style-type: none;
  
}
.management li {
  float: left;
  padding-right: 10rem;
}
.input-form input[type=text], .input-form input[type=password],.input-form input[type=month], .input-form select {
  width: 100% !important;
  padding: 1.2rem 1.2rem !important;
  align-content: center;
  margin: .8rem 0 !important;
  height: 5rem;
  display: block;
  border: .2rem solid #274e2a;
  border-radius: .4rem;
  box-sizing: border-box;
}
.input-form input[type=text]:hover, .input-form input[type=password]:hover, .input-form select:hover {
  border: .3rem solid #36753b;
}
.error {
  color: red;
}
.inline-form{
  display: inline-block !important;
}
.label-input{
  display: block !important;
}